<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.tinode.tindroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <!-- Needed for adding an avatar pic when registering new accounts and reading attachments -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Needed for saving attachments -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Needed for contact discovery - finding users on tinode who are in user's address book -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Store tinode IM id as a record in the address book -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- Creating and storing tinode credentials in the AccountManager -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Accessing Tinode-authenticated accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <!-- Make current user discoverable by other users -->
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <!-- Check if account sync is enabled -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <!-- Enable sync if it's disabled -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:name=".TindroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements"/>

        <!-- Default icon for push notifications. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_push" />
        <!-- Default color for push notifications. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--
                This is a catch-all URL pattern.
                Retarded Android is unable to parse URLs with fragments
                -->
                <data
                    android:host="api.tinode.co"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

            <!--
                meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts"/
            -->
        </activity>
        <activity
            android:name=".MessageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="@string/action_new_group"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".account.TinodeAccountService"
            android:exported="false">

            <!-- Required filter used by the system to launch the account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <!-- This points to an XMLf ile which describes the account service. -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name=".account.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts_source"/>
        </service>

        <!-- FCM handling -->
        <service android:name=".fcm.FBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="co.tinode.tindroid.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>