<?xml version="1.0" encoding="utf-8"?>
<manifest package="co.tinode.tindroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <!-- Needed for adding an avatar pic when registering new accounts -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Needed for contact discovery - finding users on tinode who are in user's address book -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Store tinode IM id as a record in the address book -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- Creating and storing tinode credentials in the AccountManager -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Accessing Tinode-authenticated accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Make current user discoverable by other users -->
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ContactsActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme">
            <!--meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts"/-->
        </activity>

        <activity
            android:name=".MessageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter android:icon="@mipmap/ic_launcher">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.tinode.profile" />
            </intent-filter>
        </activity>

        <service android:name=".account.TinodeAccountService"
            android:exported="false">
            <!-- Required filter used by the system to launch the account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf ile which describes the account service. -->
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>

        <service android:name=".account.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts_source" />
        </service>

        <!-- FCM handling -->
        <service
            android:name=".fcm.FBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".fcm.FBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
