<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- Needed for video calls, adding an avatar pic when registering new accounts,
    attaching photos to messages. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Needed for saving attachments -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <!-- Needed for picking images and videos from gallery -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <!-- Needed for contact discovery - finding users on tinode who are in user's address book -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Store tinode IM id as a record in the address book -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- Creating and storing tinode credentials in the AccountManager -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Accessing Tinode-authenticated accounts on Android pre-M (23). -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <!-- Make current user discoverable by other users -->
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <!-- Check if account sync is enabled -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <!-- Enable sync if it's disabled -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <!-- Record audio messages -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Needed for audio visualization and audio recording adjustments. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Needed for incoming call notifications -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Telephony API: placing and receiving calls. -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required on API 33+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Enable installation on devices without the camera: some features won't be available -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!-- Used to detect phone's country -->
    <uses-feature android:name="android.hardware.telephony.radio.access" android:required="false" />
    <uses-feature android:name="android.hardware.telephony.subscription" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.INSERT" />
            <data android:mimeType="vnd.android.cursor.item/contact" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".TindroidApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        tools:ignore="AllowBackup,DataExtractionRules"
        tools:targetApi="q">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements"/>

        <!-- Default icon for push notifications. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_icon_push" />
        <!-- Default color for push notifications. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter android:autoVerify="true" >
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--
                This is a catch-all URL pattern.
                Retarded Android is unable to parse URLs with fragments
                -->
                <data android:host="web.tinode.co" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

            <!--
                meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts"/
            -->
        </activity>
        <activity
            android:name=".MessageActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter android:icon="@mipmap/ic_launcher" tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="vnd.android.cursor.item/vnd.co.tinode.im" />
            </intent-filter>
            <intent-filter>
                <!-- this is used when a AndroidNotification is provided in an FCM push message -->
                <action android:name=".MessageActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartChatActivity"
            android:label="@string/action_new_chat"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SendToActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CallActivity"
            android:showOnLockScreen="true"
            android:screenOrientation="locked"
            android:exported="false">
            <intent-filter>
                <action android:name="tindroidx.intent.action.call.INCOMING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/LicensesTheme" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/LicensesTheme" />

        <service
            android:name=".services.TinodeAccountService"
            android:exported="false">

            <!-- Required filter used by the system to launch the account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <!-- This points to an XMLf ile which describes the account service. -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name=".services.ContactsSyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts_source"/>
        </service>
        <!-- FirebaseMessagingService performs security checks at runtime,
             no need for explicit permissions despite exported="true".
             Using tools:ignore="ExportedService" to disable the warning -->
        <service android:name=".services.FBaseMessagingService"
            android:exported="true" tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Service to place and receive calls. -->
        <service android:name=".services.CallConnectionService"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <!-- Receives broadcast to hang up incoming call -->
        <receiver android:name=".HangUpBroadcastReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="co.tinode.tindroid.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>